* {
  box-sizing: border-box;
}

body {
  background-color: #48D2F6;
}

div:first-child {
  display: flex;
  justify-content: center;
}

div:first-child input {
  margin: 0 -31px 0;
  height: 25px;
  width: 30px;
  opacity: 0;
  z-index: 2;
}
div:first-child button {
  border: none;
  border-radius: 10%;
}

button img {
  height: 20px;
}

div#container {
  margin: 50px auto;
  height: 445px;
  width: 280px;
  background-color: #F1F3F4;
}

div#resultado {
  height: 140px;
  background-color: white;
}

div#numeros {
  width: 200px;
  height: 305px;
}

div#numeros > button.num {
  border: none;
  background-color: transparent;
  margin: 5px 0 14px 0;
  height: 60px;
  width: 60px;
}

div#numeros button:hover, div#funcoes button:hover {
  background-color: lightgray;
  border-radius: 100%;
  transition: .3s;
}

div#funcoes {
  border-left: 1px solid lightgray;
  background-color: #F1F3F4;
  margin: -305px 0;
  float: right;
  width: 80px;
  height: 305px;
}

div#funcoes > button {
  border: none;
  background: none;
  color: #0a546b;
  margin: 5px 0 14px 9px;
  font-size: 20px;
  height: 60px;
  width: 60px;
}

body.active {
  background-color: #566366;
  color: white;
  transition: .3s;
}

div#resultado.active {
  background-color: #3f3f3f;
  transition: .3s;
}

div#numeros.active {
  background-color: #1a1a1aff;
  transition: .3s;
}

div#funcoes.active {
  border-left: 1px solid #3f3f3f;
  background-color: #1a1a1aff;
  transition: .3s;
}

button.num.active {
  color: white;
  transition: .3s;
}
